data.xlsx
dataa.xlsx
datacopy.xlsx
datatest.xlsx
datatest2 - コピー.pdf
datatest3.xlsx
deta全員のやつ.xlsx
data全員.xlsx
gpt.py
result.pdf
result.xlsx
resultcopy.xlsx
五月TT2024結果.pdf
五月TT2024走順.pdf
五月TT2024走順修正版1.pdf
五月TT2024走順修正版2.pdf
五月TT2024走順修正版3.pdf
本番コピー.xlsx
README.pdf
